* {

	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: arial;
}

nav {
	background: rgb(158, 33, 33);
	width: 100%;
	height: 100px;
}

.banner-area {
	padding: 268px 600px;
	margin: auto;
	background-image: url(images/homepage2.jpg);
	background-size: cover;
	background-position: center;
}

.banner-area1 {
	padding: 280px 620px;
	margin: auto;
	background-image: url(images/howtoplay.jpg);
	background-size: contain;
	background-position: center;
}

.contents-area {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contents-area1 {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contents1 {
	text-align: center;
}

.contents1 h1 {
	font-size: 85;
	color: rgb(211, 73, 73);
}

.contents1 p {
	font-size: 35;
	color: white
}

.contents {
	text-align: center;
}

.contents h1 {
	font-size: 85;
	color: rgb(211, 67, 67);
}

.contents p {
	font-size: 35;
	color: white
}


.contents .btn {
	border:none;
	outline:none;
	padding: 15px;
	margin-top: 100px;
	border-radius: 4px;
	font-size: 20px;
	cursor: pointer;
	background: rgb(140, 141, 141);
}
.contents .btn a {
	color:white
}

label.logo {
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

nav ul {
	float: right;
	margin-right: 20px;
}


nav ul li {
	font-weight: bold;
	display: inline-block;
	line-height: 90px;
	margin: 0 10px;
}

nav ul li a {
	color: white;
	font-size: 18px;
	padding: 8px 14px;
	border-radius: 4px;
	text-transform: uppercase;
}


nav ul li a:hover {
	color: rgb(134, 134, 134);	
}

a.box,a:hover {
	background: rgb(124, 22, 22);
	transition: .4s;

}

